<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PBO" >
        <activity
            android:name=".zaky.HistoryResults"
            android:exported="false" />
        <activity
            android:name=".zaky.PageHistory"
            android:exported="false"
            android:theme="@style/Theme.PBO" />
        <activity
            android:name=".Nazwar.MainPageCalculate"
            android:exported="false"
            android:theme="@style/Theme.PBO" />
        <activity
            android:name=".Nazwar.MainPage"
            android:exported="false"
            android:theme="@style/Theme.PBO" />
        <activity
            android:name=".Nazwar.MainPageCalculateResults"
            android:exported="false"
            android:theme="@style/Theme.PBO" />
        <activity
            android:name=".Nazwar.MainPageCalculateDetails"
            android:exported="false"
            android:theme="@style/Theme.PBO" />
        <activity
            android:name=".Alim.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".zaky.EmailForgot"
            android:exported="false" />
        <activity
            android:name=".zaky.ResetPass"
            android:exported="false" />
        <activity
            android:name=".zaky.SignUp3"
            android:exported="false" />
        <activity
            android:name=".zaky.SignUp2"
            android:exported="false" />
        <activity
            android:name=".zaky.CodeOtp"
            android:exported="false" />
        <activity
            android:name=".zaky.SignUp"
            android:exported="false" />
        <activity
            android:name=".zaky.LogIn"
            android:exported="false" />
        <activity
            android:name=".zaky.WelcomePage"
            android:exported="false" />
        <activity
            android:name=".Alim.settingActivity"
            android:exported="false" />
        <activity
            android:name=".Alim.ChangeName"
            android:exported="false" />
        <activity
            android:name=".Alim.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".zaky.Start"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>